/*DARK MODE
* {
    -body-color:       WHITE;
    -primary-color:    #FF1B57;
    -secondary-color:  	#0399ff;
    -mix-color:        #974f9c;
	
	-text-color2:	   BLACK;
	-text-color1:	   WHITE;
	
	-hover-color:	#111111;
	-ripple-color:	WHITE;
}
*/

* {
    -body-color:       #FFFFFF;
    -primary-color:    #FF1B57;
    -secondary-color:  #0399ff;
    -mix-color:        #974f9c;
	
	-text-color1:	   BLACK;
	-text-color2:	   WHITE;
	
	-hover-color:	#EEEEEE;
	-ripple-color:	BLACK;

}